/* Styles for card container */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Center cards horizontally */
}

.card_event {
  width: 330px; /* Set width to 350px */
  max-width: 100%; /* Allow the card to shrink on smaller screens */
  height: 450px; /* Allow the height to adjust based on content */
  border: 2px solid #b19414;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.197); /* Add box shadow for 3D effect */
}

/* Styles for image inside the card */
.card img {
  width: 100%; /* Make the image fill the container */
  height: auto; /* Ensure aspect ratio is maintained */
  object-fit: cover; /* Scale the image down as the container size changes, without cropping */
}

/* Styles for slideshow container */
.slideshow-container {
  position: relative;
  width: 100%;
  height: 450px;
}

/* Styles for slides */
.slide {
  display: none;
}

/* Style for navigation dots */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  background-color: #bbb;
}

/* Active dot */
.active {
  background-color: #717171;
}

/* Pagination styles */
.pagination {
  margin-top: 40px;
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center; /* Center the pagination horizontally */
  margin-bottom: 30px;
}

.pagination .page-item {
  margin: 0 5px; /* Add some space between each pagination item */
}

.pagination .page-link {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  color: #007bff;
  cursor: pointer;
  padding: 6px 12px;
  text-decoration: none;
  border-radius: 4px;
}

.pagination .page-link:hover {
  background-color: #e9ecef;
}

.slide-section {
    
    margin-top: 20px; /* Adjusted margin for smaller screens */
  }

/* Media query for smaller screens */
@media (max-width: 768px) {
  .slide-section {

    margin: 20px; /* Adjusted margin for smaller screens */
  }

  .card_event {
    width: 100%; /* Set width to 100% on smaller screens to stack cards vertically */
    max-width: none; /* Remove max-width constraint */
  }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
  .slide-section {
    margin: 10px; /* Further adjusted margin for even smaller screens */
  }
}
