a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

nav{
    z-index: 995;
    position: sticky;
    top: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

nav .navLogo{
    width: 10%;
    background-repeat: no-repeat;
    background-position: center;
}

nav .navLogo img{
    height: 90%;
    margin-left: 20px;
}

nav .navLinksContainer{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-right: 20px;
}

nav .navLinksContainer .navLink a{
    font-size: .9rem;
    font-weight: 600;
}

nav .navLinksContainer .navLink:last-child{
    background-color: #FFA300;
    border-radius: 55px;
    padding: 10px 15px;
}


.navCollapsedNav{
    display: none;
}